<<<<<<<< HEAD:public/scss/nav.scss
body{
    margin: 0px;
    padding: 0px
    }

========
>>>>>>>> fef3aa7352b23ad44da5c73849909e64c6261d53:public/scss/style.scss
.card{
    width: 20px;
    height: 20px;
}




