# #commentaire :ici je demande l'activation la réécriture d'url
RewriteEngine On

# #commentaire : eviter de lister les fichiers directements via la barre d'url ( sécurité )
# #commentaire : f = fichier
# #commentaire : d = dossier
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# #commentaire : ici permet la réécriture d'url avec le numéro de la page demander
RewriteRule ^(.*)$ products.php?id=$1
# RewriteEngine On # Activer le module Rewrite
# RewriteRule ^produits/?$ produits.php [NC,L]
# RewriteRule ^[^/]+/(\d+)$ produits.php?id=$1


